@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=DotGothic16&family=Silkscreen&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Silkscreen';
    margin: 0;
    padding: 0;
}
html{
    /* Habilita el scroll cuando se haga click en los link del menu */
    scroll-behavior: smooth;
}
/* Menu */
.contenedor-header{
    background: rgb(79, 79, 79);
    position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.contenedor-header header .logo a{
    /* font-family: 'DotGothic16', sans-serif; */
    font-size: 45px;
    color: #76fad5;
    text-decoration: none;
    padding: 18px;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1cb698;
}
.nav-responsive{
    background-color: aqua;
    color: azure;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* Seccion INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,8) , rgba(117, 250, 212)), url();
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1cb698;
    max-width: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner2{
    padding: 20px;
    background-color: #1cb698;
    max-width: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid rgb(0, 255, 247);
    width: 100%;
    margin: auto;
    border-radius: 10%;
}
.inicio .contenido-banner2 img{
    margin-top: 40px;
    margin: auto;
    border-radius: 10%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    /* font-family: ; */
}
.inicio .contenido-banner h2{
    font-size: 25px;
    font-weight: normal;
    font-family: 'DotGothic16', sans-serif;
    padding: 5%;
}
.inicio .contenido-banner .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 20px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color:#76fad5;
}
/* Sobre mi CSS */
.sobremi{
    background-color: black;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    /* font-family: ; */
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1cb698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sobremi .fila .col{
    width: auto;
    justify-content: center;
    
    
}
.sobremi .fila .col h3{
    font-size: 28px;
    /* font-family: 'DotGothic16', sans-serif;  */
    margin-bottom: 28px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 20px 0;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
}
.sobremi .contenido-seccion p{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1cb698;
    width:130px;
}


.sobremi .fila .col .contenedor-tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sobremi .fila .col .contenedor-tecnologias .tecnologias{
    width: 150px;
    height: 150px;
    background-color: darkcyan;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* .sobremi .fila .col .contenedor-tecnologias .tecnologias span{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.sobremi .fila .col .contenedor-tecnologias .tecnologias:hover{
    background-color: rgb(71, 4, 154);
}
.sobremi .fila .col .contenedor-tecnologias .tecnologias img{
    font-size: 30px;
    margin-bottom: 10px;
}
/* .sobremi button{
    cursor: pointer;
    background-color: transparent;
    border:2px solid white;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
}
.sobremi button .overlay i{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: .1;
    transition: 1s;
}
.sobremi button:hover .overlay i{
    width: 100%;
} */

/* Cv */

/* Extra */
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
  }
  /* Acomoda para que este uno al lado de otro */
  .cols{
    display: -webkit-box;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* que no se ropa la col */
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
    
  }
  /* Mantiene todo contenido */
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      position: relative;
  }
  /* El front y el back stylos */
  .front, .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      box-shadow: 0 0 10px solid blue;
      
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  /* solo el back */
  .back{
    margin: auto;
    background-image: url(img/api.png);
    
    
    /* Imagen de fondo */
    /* background-image: url(img/asp.netCoreMVC.png);
    background-image: cover; */
    /* background: -webkit-linear-gradient(45deg,  #071a28 0%,#00eeff 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%); */
  }
  /* se sombrea para que al no estar encima solo se vea el front*/
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }

  
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  /* Que el front este encima del back */
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  /* Que tenga el efecto de profundidad y centrado del front y back */
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  /* rotacion de giro */
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  /* Pequeño ajuste del contenido front */
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  /* Muestra el panel del medio y anima el back */
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  /* complleta la animacion de giro al poner el mouse */
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  /* Fuente de texto p */
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  /* el separador de los textos */
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  /* sombre el sub texto */
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
/* Extra */
@media screen and 
  (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and
   (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 28rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }